[submodule "bash/shell_scripts_mtrx"]
	path = bash/shell_scripts_mtrx
	url = https://github.com/mritd/shell_scripts.git
[submodule "ansible/test-playbooks"]
	path = ansible/test-playbooks
	url = https://github.com/ansible/test-playbooks.git
[submodule "ansible/bonovoxly-playbooks"]
	path = ansible/bonovoxly-playbooks
	url = https://github.com/bonovoxly/playbook.git
[submodule "ansible/aws-starter"]
	path = ansible/aws-starter
	url = https://github.com/docker-production-aws/aws-starter.git
[submodule "ansible/ansible-aws-examples"]
	path = ansible/ansible-aws-examples
	url = https://github.com/tgerla/ansible-aws-examples.git
[submodule "ansible/ansible-playbook-aws.git"]
	path = ansible/ansible-playbook-aws.git
	url = https://github.com/willfarrell/ansible-playbook-aws.git
[submodule "ansible/ansible-aws-vpc-playbook"]
	path = ansible/ansible-aws-vpc-playbook
	url = https://github.com/infinitypp/ansible-aws-vpc-playbook.git
[submodule "ansible/gcp-playbooks"]
	path = ansible/gcp-playbooks
	url = https://github.com/markditsworth/playbooks.git
[submodule "ansible/ansible-elasticsearch"]
	path = ansible/ansible-elasticsearch
	url = https://github.com/elastic/ansible-elasticsearch.git
[submodule "ansible/azure-ansible-playbooks"]
	path = ansible/azure-ansible-playbooks
	url = https://github.com/Azure-Samples/ansible-playbooks.git
[submodule "ansible/azure_modules"]
	path = ansible/azure_modules
	url = https://github.com/Azure/azure_modules.git
[submodule "ansible/ansible-deploy-azure"]
	path = ansible/ansible-deploy-azure
	url = https://github.com/zwindler/ansible-deploy-azure.git
[submodule "ansible/ansible4gcp"]
	path = ansible/ansible4gcp
	url = https://github.com/fvzwieten/ansible4gcp.git
[submodule "jenkins/pipeline-examples"]
	path = jenkins/pipeline-examples
	url = https://github.com/jenkinsci/pipeline-examples.git
[submodule "jenkins/jenkins"]
	path = jenkins/jenkins
	url = https://github.com/jenkinsci/jenkins.git
[submodule "jenkins/jenkins-docker"]
	path = jenkins/jenkins-docker
	url = https://github.com/jenkinsci/docker.git
[submodule "python/click"]
	path = python/click
	url = https://github.com/pallets/click.git
[submodule "bash/promptx"]
	path = bash/promptx
	url = https://github.com/mritd/promptx.git
[submodule "elisp/emacs"]
	path = elisp/emacs
	url = https://git.savannah.gnu.org/git/emacs.git
[submodule "elisp/emacs-request"]
	path = elisp/emacs-request
	url = https://github.com/tkf/emacs-request.git
[submodule "elisp/yafolding"]
	path = elisp/yafolding
	url = https://github.com/zenozeng/yafolding.el.git
[submodule "elisp/dash.el"]
	path = elisp/dash.el
	url = https://github.com/magnars/dash.el.git
[submodule "elisp/elpa"]
	path = elisp/elpa
	url = https://git.savannah.gnu.org/git/emacs/elpa.git
[submodule "python/cpython"]
	path = python/cpython
	url = https://github.com/python/cpython.git
[submodule "python/django/django"]
	path = python/django/django
	url = https://github.com/django/django.git
[submodule "python/django/django-rest-framework"]
	path = python/django/django-rest-framework
	url = https://github.com/encode/django-rest-framework.git
[submodule "python/six"]
	path = python/six
	url = https://github.com/benjaminp/six.git
[submodule "python/scrapy"]
	path = python/scrapy
	url = https://github.com/scrapy/scrapy.git
[submodule "python/gtk/passbook"]
	path = python/gtk/passbook
	url = https://gitlab.gnome.org/gnumdk/passbook.git
[submodule "python/gtk/pitivi"]
	path = python/gtk/pitivi
	url = https://gitlab.gnome.org/GNOME/pitivi.git
[submodule "python/gtk/xdot.py"]
	path = python/gtk/xdot.py
	url = https://github.com/jrfonseca/xdot.py.git
[submodule "python/gtk/paperwork"]
	path = python/gtk/paperwork
	url = https://gitlab.gnome.org/World/OpenPaperwork/paperwork.git
[submodule "python/gtk/guake"]
	path = python/gtk/guake
	url = https://github.com/Guake/guake.git
[submodule "python/gtk/lollypop"]
	path = python/gtk/lollypop
	url = https://gitlab.gnome.org/World/lollypop.git
[submodule "python/gtk/gaupol"]
	path = python/gtk/gaupol
	url = https://github.com/otsaloma/gaupol.git
[submodule "python/gtk/organizer"]
	path = python/gtk/organizer
	url = https://gitlab.gnome.org/aviwad/organizer.git
[submodule "python/gtk/eolie"]
	path = python/gtk/eolie
	url = https://gitlab.gnome.org/World/eolie.git
[submodule "python/gtk/sonata"]
	path = python/gtk/sonata
	url = https://github.com/multani/sonata.git
[submodule "python/gtk/timetrack"]
	path = python/gtk/timetrack
	url = https://gitlab.gnome.org/danigm/timetrack.git
[submodule "python/gtk/gajim"]
	path = python/gtk/gajim
	url = https://dev.gajim.org/gajim/gajim.git
[submodule "python/gtk/uberwriter"]
	path = python/gtk/uberwriter
	url = https://github.com/UberWriter/uberwriter.git
[submodule "python/gtk/cozy"]
	path = python/gtk/cozy
	url = https://github.com/przemekkot/cozy.git
[submodule "python/gtk/drawing"]
	path = python/gtk/drawing
	url = https://github.com/maoschanz/drawing.git
[submodule "git"]
	path = git
	url = https://github.com/git/git
[submodule "ansible/ansible"]
	path = ansible/ansible
	url = https://github.com/ansible/ansible.git
[submodule "ansible/ansible-examples"]
	path = ansible/ansible-examples
	url = https://github.com/ansible/ansible-examples.git
[submodule "ansible/ansible-collection-template"]
	path = ansible/ansible-collection-template
	url = https://github.com/bcoca/collection.git
[submodule "swagger/swagger-codegen"]
	path = swagger/swagger-codegen
	url = https://github.com/swagger-api/swagger-codegen.git
[submodule "swagger/swagger-editor"]
	path = swagger/swagger-editor
	url = https://github.com/swagger-api/swagger-editor.git
[submodule "realworld-apps/vue-frontend"]
	path = realworld-apps/vue-frontend
	url = https://github.com/gothinkster/vue-realworld-example-app
[submodule "realworld-apps/node-backend"]
	path = realworld-apps/node-backend
	url = https://github.com/gothinkster/node-express-realworld-example-app.git
[submodule "realworld-apps/flask-backend"]
	path = realworld-apps/flask-backend
	url = https://github.com/gothinkster/flask-realworld-example-app.git
[submodule "realworld-apps/django-backend"]
	path = realworld-apps/django-backend
	url = https://github.com/gothinkster/django-realworld-example-app.git
[submodule "realworld-apps/react-redux-frontend"]
	path = realworld-apps/react-redux-frontend
	url = https://github.com/gothinkster/react-redux-realworld-example-app
[submodule "dockerfiles/dockerfiles-pack"]
	path = dockerfiles/dockerfiles-pack
	url = https://github.com/przemekkot/dockerfiles-1.git
[submodule "dockerfiles/dockerfiles-pack-2"]
	path = dockerfiles/dockerfiles-pack-2
	url = https://github.com/przemekkot/dockerfiles.git
[submodule "dockerfiles/dockerfiles-pack-3"]
	path = dockerfiles/dockerfiles-pack-3
	url = https://github.com/przemekkot/dockerfile.git
[submodule "ansible/ansible-playbooks-kali"]
	path = ansible/ansible-playbooks-kali
	url = https://github.com/byt3bl33d3r/AnsiblePlaybooks.git
[submodule "ansible/learning-tools"]
	path = ansible/learning-tools
	url = https://github.com/scottslowe/learning-tools.git
[submodule "ansible/metamon"]
	path = ansible/metamon
	url = https://github.com/tryolabs/metamon.git
[submodule "ansible/ansible-playbooks-ubuntu"]
	path = ansible/ansible-playbooks-ubuntu
	url = https://github.com/augustl/ansible-playbooks.git
[submodule "ansible/top_geerlingguy"]
	path = ansible/top_geerlingguy
	url = https://github.com/alikins/top_geerlingguy.git
[submodule "ansible/ansible-role-skeleton"]
	path = ansible/ansible-role-skeleton
	url = https://github.com/bertvv/ansible-role-skeleton.git
[submodule "ansible/ansible-toolbox"]
	path = ansible/ansible-toolbox
	url = https://github.com/bertvv/ansible-toolbox.git
[submodule "ansible/Ubuntu-LTS"]
	path = ansible/Ubuntu-LTS
	url = https://github.com/pajuna/Ubuntu-LTS.git
[submodule "devops/PostgrestSkeleton"]
	path = devops/PostgrestSkeleton
	url = https://github.com/Recmo/PostgrestSkeleton.git
[submodule "taiga/taiga-back"]
	path = taiga/taiga-back
	url = https://github.com/taigaio/taiga-back
[submodule "taiga/taiga-front"]
	path = taiga/taiga-front
	url = https://github.com/przemekkot/taiga-front
[submodule "taiga/taiga-doc"]
	path = taiga/taiga-doc
	url = https://github.com/taigaio/taiga-doc
[submodule "dockerfiles/Dockerfile-1"]
	path = dockerfiles/Dockerfile-1
	url = https://github.com/przemekkot/Dockerfile-1.git
[submodule "php/phpunit"]
	path = php/phpunit
	url = https://github.com/przor3n/phpunit.git
[submodule "php/guzzle"]
	path = php/guzzle
	url = https://github.com/guzzle/guzzle.git
[submodule "cutters/pypackage"]
	path = cutters/pypackage
	url = https://github.com/audreyr/cookiecutter-pypackage.git
[submodule "cutters/djangopackage"]
	path = cutters/djangopackage
	url = https://github.com/pydanny/cookiecutter-djangopackage.git
[submodule "cutters/django"]
	path = cutters/django
	url = https://github.com/przor3n/cookiecutter-django.git
[submodule "python/aiohohttp"]
	path = python/aiohohttp
	url = https://github.com/aio-libs/aiohttp.git
[submodule "python/aiohttp-stuff/aiohttp-security"]
	path = python/aiohttp-stuff/aiohttp-security
	url = https://github.com/aio-libs/aiohttp-security.git
[submodule "python/aiohttp-stuff/aiohttp-remote"]
	path = python/aiohttp-stuff/aiohttp-remote
	url = https://github.com/przor3n/aiohttp-remotes.git
[submodule "python/aiohttp-stuff/aiohttp-session"]
	path = python/aiohttp-stuff/aiohttp-session
	url = https://github.com/aio-libs/aiohttp-session.git
[submodule "python/aiohttp-stuff/aiohttp-cors"]
	path = python/aiohttp-stuff/aiohttp-cors
	url = https://github.com/aio-libs/aiohttp-cors.git
[submodule "python/aiohttp-stuff/async_lru"]
	path = python/aiohttp-stuff/async_lru
	url = https://github.com/aio-libs/async_lru.git
[submodule "python/aiohttp-stuff/aiohttp-devtools"]
	path = python/aiohttp-stuff/aiohttp-devtools
	url = https://github.com/aio-libs/aiohttp-devtools.git
[submodule "python/aiohttp-stuff/pytest-aiohttp"]
	path = python/aiohttp-stuff/pytest-aiohttp
	url = https://github.com/aio-libs/pytest-aiohttp.git
[submodule "python/aiohttp-stuff/benchmarks"]
	path = python/aiohttp-stuff/benchmarks
	url = https://github.com/aio-libs/aiohttp-benchmarks.git
[submodule "python/aiohttp-stuff/aio-debug_toolbar"]
	path = python/aiohttp-stuff/aio-debug_toolbar
	url = https://github.com/aio-libs/aiohttp-debugtoolbar.git
[submodule "python/aiohttp-stuff/aioauth-client"]
	path = python/aiohttp-stuff/aioauth-client
	url = https://github.com/klen/aioauth-client.git
[submodule "python/aiohttp-stuff/demos"]
	path = python/aiohttp-stuff/demos
	url = https://github.com/przor3n/aiohttp-demos.git
[submodule "python/aiohttp-stuff/create-aio-app"]
	path = python/aiohttp-stuff/create-aio-app
	url = https://github.com/aio-libs/create-aio-app.git
[submodule "robotframework/RobotDemo"]
	path = robotframework/RobotDemo
	url = https://github.com/robotframework/RobotDemo.git
[submodule "robotframework/WebDemo"]
	path = robotframework/WebDemo
	url = https://github.com/robotframework/WebDemo.git
[submodule "postgresql"]
	path = postgresql
	url = git://git.postgresql.org/git/postgresql.git
[submodule "gitignores"]
	path = gitignores
	url = https://github.com/przor3n/gitignore.git
[submodule "learnxinyminutes"]
	path = learnxinyminutes
	url = https://github.com/adambard/learnxinyminutes-docs.git
[submodule "devops/prometheus"]
	path = devops/prometheus
	url = https://github.com/vegasbrianc/prometheus.git
[submodule "devops/dockprom"]
	path = devops/dockprom
	url = https://github.com/przor3n/dockprom.git
